@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body {
    background: url(https://kolhok.elte.hu/wp-content/uploads/2017/07/Let-freedom-never-perishin-your-hands.-6-boost.png);
    background-size: cover;
    background-position: center center;

}

/*header {
    background-image: url(/img/HORGÁSZ-HÁTTÉR.jpg);
}*/

h1 {
    margin: 50px;
    color: rgb(22, 22, 22);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
}

#h1-center {
    text-align: center;
}

#h1-marquee {
    text-align: center;
}

h1:hover {
    background: none;
}

a {
    color: rgb(28, 8, 100);
}

a:hover {
    color: rgb(79, 221, 79);
}

#color {
    font-weight: bold;
    color: rgb(177, 31, 31);
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

/*.content {
    background: url(/img/SZÜRKE\ HULLÁM\ HÁTTÉR.jpg);
    
}*/

.content::after,
footer::after {
    content: "";
    clear: both;
    display: table;
}

nav {
    height: 60px;
    background: none;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

nav::after {
    content: "";
    clear: both;
    display: table;
}

nav a {
    font-weight: bold;
    color: lavender;
    text-decoration: none;
    padding: 20px;
    display: block;
}

nav a:hover {
    background: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: right;
}

/*HEADER*/
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar a {
    text-decoration: none;
    color: #2c2c2c;
}

a:hover {
    color: rgb(139, 91, 2);
}

.navbar h3 {
    color: rgb(26, 25, 25);
}

li {
    list-style: none;
}

svg {
    color: #1d1c1c;
}

.action_btn {
    background-color: rgb(150, 150, 150);
    color: rgb(235, 235, 241);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #90f88b;
}

.action_btn:active {
    scale: 0.95;
}

/*DROPDOWN MENU*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li a {
    font-weight: bold;
    text-decoration: none;
    color: #383737;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*RESPONSIVE DESIGN*/
@media (max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

svg {
    color: #2c2c2c;
}

#logo {
    float: right;
}

#table {
    color: rgb(56, 56, 56);
    padding: 10px;
    width: 350px;
    margin: 5px auto;
    background: none;
}

#table a:hover {
    background: none;
    padding: 25px;
}

#table-2 {
    padding: 5px;
    max-width: 500px;
    background: none;
    margin: 5px auto;
}

button {
    font-weight: bold;
    width: 120px;
    margin: 3px;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    background: linear-gradient(to right, rgb(39, 2, 141), rgb(103, 213, 247));
    border: rgb(116, 114, 114) 1px solid;
    border-radius: 2px;
    box-shadow: 3px 3px 0px rgb(70, 69, 69);
    border: 1px solid rgb(253, 253, 253);
}

button:hover {
    cursor: pointer;
    background: linear-gradient(rgb(39, 2, 124), rgb(107, 195, 247));
    font-weight: bold;
}

button:active {
    box-shadow: 0px 1px 7px black;
}

button:hover {
    font-weight: bold;
    color: lavender;
}

tfoot {
    background: none;
    text-align: center;
    color: rgb(0, 0, 1);
}