@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-color: black;
    background-size: cover;
    background-position: center center;

}

p { 
    padding: 17px;
    margin: 7px;
    background-color: gray;
    color: #fff;
}

h1 { 
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-seri
}

h2 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 { 
    
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4 { 
    padding: 5px;
    margin: 40px;
    width: 200px;
    height: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: none;
    color: lavender;
}

h5 { 
    text-align: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fader { 
    background: none;
    margin: 30px;
    padding: 30px;
}

.carousel {
    max-width: 1000px;
    width: 90%;
    height: 60vh;
    margin: 0 auto 0 auto;
    box-shadow: 0 30PX 40px -20px black;
    position: relative;
    overflow: hidden;
}

@media(orientation:portrait) {
    .carousel {
        height: 30vh
    }
}

.carousel div {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center center;
    background-size: cover;
    opacity: 0;
}

.carousel div:nth-child(1) {
    background-image: url(/img/01.jpg);
    animation-delay: 4s
}


.carousel div:nth-child(2) {
    background-image: url(/img/02.jpg);
    animation-delay: 6s
}

.carousel div:nth-child(3) {
    background-image: url(/img/03.jpg);
    animation-delay: 8s
}

.carousel div:nth-child(4) {
    background-image: url(/img/04.jpg);
    animation-delay: 10s
}

.carousel div:nth-child(5) {
    background-image: url(/img/05.jpg);
    animation-delay: 12s
}

.carousel div:nth-child(6) {
    background-image: url(/img/06.jpg);
    animation-delay: 14s
}

.carousel div:nth-child(7) {
    background-image: url(/img/07.jpg);
    animation-delay: 16s
}


.fader div {
    animation: fade 16s infinite;
}

@keyframes fade {
    5% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    35% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }
}

.slider div {
    left: -100;
    animation: slide 12s infinite;
}

@keyframes slide {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 1;
        left: -100%
    }

    6% {
        left: 0;
    }

    34.5% {
        left: 0;
    }

    39.5% {
        opacity: 1;
        left: 100%;
    }

    40% {
        opacity: 0;
    }
}

.carousel.slider {
    animation: carousel-fade-in 2s forwards;
}

@keyframes carousel-fade-in {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

img { 
    margin: 10px;
    float: left;
}

.box {
    margin: 0;
}

.wapper {
    max-width: 1000px;
    margin: 0 auto;
}

.content {
    background: none;
}

.content::after,
footer::after {
    content: "";
    clear: both;
    display: table;
}

nav { 
    height: 60px;
    background: none;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

nav::after {
    content: "";
    clear: both;
    display: table;
}

nav a { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
}

nav a:hover {
    background: darkgrey;
}

nav ul { float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
}

#pos { 
    margin-left: 350px; 
    text-align: center;
}

#pos img { 
    width: 178px;
}

#table { 
    padding: 5px;
    max-width: 500px;
    background: none;
}

#table-1 { 
    float: left;
    padding: 5px;
    max-width: 300px;
    margin: 7px auto;
    background: none;
}

#table-02 {
    padding: 5px;
    max-width: 500px;
    margin: auto;
    background: gray;
}

#table-3 {
    margin: 5px 9px 5px auto;
    background: grey; 
    float: left ;
}

#table-3 img { 
    margin: 10px 60px auto;
}

#logo { height: 40px;
    float: right;
}

#table-1 { 
    float: left;
    padding: 5px;
    max-width: 300px;
    margin: 7px auto;
    background: none;
}

#table-2 {
    color: #fff;
    background: gray;
}

tfoot { 
    text-align: center;
    color: black;
    background: lightgray;
}

h2 a {
    color: blue;
}