@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background: rgba(107, 106, 106, 0.61);
}

nav {
    background: #fdf5ae;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

nav img {
    padding: 20px;
}

nav::after {
    content: "";
    clear: both;
    display: table;
}

nav a {
    color: #0a0a0a;
    text-decoration: none;
    padding: 25px;
    display: block;
}

nav a:hover {
    background: #ffff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: right;
}

h1 {
    text-align: center;
    color: rgb(25, 27, 29);
}

button {
    cursor: pointer;
    margin: 30px;
    width: 120px;
    float: left;
    color: rgb(15, 15, 15);
    padding: 5px 10px;
    background-color: #C6B644;
    border: rgb(156, 142, 142) 2px solid;
    border-radius: 7px;
    box-shadow: 3px 3px 0px rgb(163, 164, 165);
}

button:hover {
    background-color: #fce8b1;
}

table {margin: 0 auto;
    max-width: 800px;
    background-color: #fdf5ae;
}

#cta {
    position: relative;
}

#cta-gomb {
    padding: 0px;
    margin: 0px 305px;
    float: left;
}