@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/*HEADER*/
header {
    position: relative;
    padding: 0 2rem;
}

#color {
    font-weight: bold;
    color: rgb(177, 31, 31);
}



/*RESPONSIVE DESIGN*/
@media (max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

svg {
    color: #252525;
}

#marquee {
    margin: 30px;
}

#marquee h1 {
    color: rgb(32, 32, 32);
}

.navline {
    background: none;
}

li {
    list-style: none;
}

#fader {
    margin: 100px;
}

#pos {
    margin: 0 -73px;
    padding: 95px;
}

#pos h4 {
    color: #3d3c3c;
}

table video {
    padding: 57px;
    float: left;
}

h2 {
    padding: 100px;
    float: right;
}

#logo {
    width: 300px;
    padding: 20px;
}

    .wrapper {
    max-width: 775px;
    margin: 35px auto;
}

table {
    background: none;
    max-width: 875px;
}

strong {
    text-transform: uppercase;
    color: #111111;
    font-weight: bold;
}

b {
    color: #252525;
    font-weight: bold;
}

fieldset {
    background: linear-gradient(to right, rgb(27, 27, 27), rgb(158, 158, 158));
    height: 300px;
}

button {
    font-weight: bold;
    width: 120px;
    margin: 3px;
    color: rgb(250, 250, 253);
    padding: 5px 10px;
    background: linear-gradient(to right, rgb(24, 24, 24), rgb(146, 146, 146));
    border: rgb(116, 114, 114) 1px solid;
    border-radius: 2px;
    box-shadow: 3px 3px 0px rgb(116, 115, 115);
    border: 1px solid rgb(253, 253, 253);
}

button:hover {
    color: lavender;
    background: linear-gradient(rgb(49, 49, 49), rgb(150, 149, 149));
}

.wrapper table {
    width: 890px;
}

h1 {
    font-family: "oswald";
    color: rgb(42, 42, 51);
}

h2 {
    font-family: "oswald";
}

.wrapper h3 a {
    color: rgb(49, 49, 165);
}

.wrapper h3 a:hover {
    color: green;
}

h4 {
    font-family: "oswald";
    color: rgb(39, 39, 39);
    text-align: left;
}

h5 {
    text-align: left;
    color: rgb(48, 44, 44);
}

#keret-1 h6 {
    color: rgb(63, 63, 63);
    margin: 10px;
}

fieldset h5 {
    padding: 0px;
    margin: 0 100px;
}

fieldset h6 {
    margin: 0 100px;
}

fieldset img {
    max-width: 300px;
    margin: 20px;
}

#table-02 {
    padding: 5px;
    max-width: 500px;
    margin: auto;
    background: none;
}

video {
    height: 120px;
    width: 200px;
}

#foto {
    width: 180px;
    padding: 5px;
    margin: 10px;
}

#ponty {
    padding: 10px;
    margin: 0 23px;
    float: left;
}

h3 {
    font-family: "oswald";
    padding: 25px;
    color: black;
    text-align: left;
}

p {
    color: rgb(97, 96, 96);
    margin: 0 -12px;
    padding: 45px;
    text-align: left;
}

#vs- {
    margin: 20px;
    margin: 20px;
    float: right;
}

.wrapper h3 {
    margin: 8px;
}

#sor {
    color: black;
    padding: 25px;
    margin: 0 25px;
    text-align: left;
}

#sor-1 {
    color: rgb(71, 71, 71);
}

#sor- {
    margin: 0px 25px;
    padding: 20px;
    text-align: left;
    color: rgb(71, 71, 71);
}

#how-color {
    font-family: "oswald";
    color: rgb(52, 52, 53);
    text-align: center;
}

#gombok {
    padding: 0 250px;
    background: none;
}

tfoot {
    font-weight: bold;
    color: rgb(0, 0, 1);
    text-align: center;
}

.carousel {
    max-width: 1000px;
    width: 90%;
    height: 60vh;
    margin: 0 auto 0 auto;
    box-shadow: 0 30PX 40px -20px lightgray;
    position: relative;
    overflow: hidden;
}

@media(orientation:portrait) {
    .carousel {
        height: 30vh
    }
}

.carousel div {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center center;
    background-size: cover;
    opacity: 0;
}

.carousel div:nth-child(1) {
    background-image: url(/images/7-es-Potyesz.jpg);
    animation-delay: 2s
}


.carousel div:nth-child(2) {
    background-image: url(/images/Harcsa.jpg);
    animation-delay: 8s
}

.carousel div:nth-child(3) {
    background-image: url(/images/AMÚR.jpg);
    animation-delay: 10s
}

.carousel div:nth-child(4) {
    background-image: url(/images/MÁRNA.jpg);
    animation-delay: 12s
}

.carousel div:nth-child(5) {
    background-image: url(/images/VEGYES-HAL.jpg);
    animation-delay: 14s
}

.carousel div:nth-child(6) {
    background-image: url(/images/PONTY\ 6.5-ÖS.jpg);
    animation-delay: 16s
}

.carousel div:nth-child(7) {
    background-image: url(/images/DÉVÉR.jpg);
    animation-delay: 18s
}

.carousel div:nth-child(8) {
    background-image: url(/images/KÁRÁSZOK.jpg);
    animation-delay: 20s
}

.fader div {
    animation: fade 16s infinite
}

@keyframes fade {
    5% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    35% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }
}

.slider div {
    left: -100;
    animation: slide 12s infinite
}

@keyframes slide {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 1;
        left: -100%
    }

    6% {
        left: 0;
    }

    34.5% {
        left: 0;
    }

    39.5% {
        opacity: 1;
        left: 100%;
    }

    40% {
        opacity: 0;
    }
}

.carousel.slider {
    animation: carousel-fade-in 2s forwards;
}

@keyframes carousel-fade-in {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.class #keret {
    height: 317px;
    width: 875px;
}

#keret-1 {
    border: none;
    background: none;
    width: 872px;
    height: 320px;
}

#keret-2 {
    background: rgb(245, 245, 245);
    height: 295px;
    width: 200px;
    margin: 19px;
    float: left;
    border-radius: 7px;
}

#keret-2 img {
    height: 150px;
    border-radius: 7px 7px 0px 0px;
    margin: 0px;
    padding: 0px;
}

#keret-2 h4 {
    margin: 25px;
    color: #3a3939;
    text-align: center;
}

#border .img {
    margin: 0 auto;
    padding: 0px;
}

#border {
    border: none;
    height: 300px;
    background: none;
    width: 200px;
    margin: 5px;
    float: left;
}

#border h4 {
    color: lavender;
    margin: 21px;
}

#border h6 {
    color: whitesmoke;
    margin: 21px;
}

#border ul li {
    margin: 14px;
}

#keret {
    width: 900px;
    height: 320px;
}

.wrapper #keret {
    height: 420px;
}


:root {
    /*theme colors*/
    --text-gray: #3F4954;
    --bg-color: #0f0f0f;

    /*theme font-family*/
    --lexend: 'lobster';
    --livvic: 'Livvic', sans-serif;

    /*gradient colors*/
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    /*010 Winter Neva*/
}

/*..............navbar.............*/

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

.text-black {
    color: var(--bg-color);
}

body {
    margin: 5%;
    background: url(https://cdn.create.vista.com/api/media/small/729695802/stock-video-cartoon-water-loop-anime-manga-style-cute-elegant-cartoon-water?videoStaticPreview=true&token=);
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    padding: 0 2rem;
    background: none;
    position: relative;
    justify-content: space-between;
    height: 0rem;
    min-height: 11vh;
    overflow-y: hidden;
    transition: height 1s cubic-bezier(0.26, -0.01, 0, 1.01);
}

nav .nav-brand a {
    display: block;
    padding: 1rem 0;
    font-family: var(--lexend);
    font-size: 1.6rem;
    text-decoration: none;
}

nav .nav-items {
    list-style-type: none;
    margin: 0;
}

nav .nav-items .nav-link {
    padding: 1.3rem 1rem;
    font-family: var(--livvic);
    font-size: 1.1rem;
}

nav .nav-items .nav-link:hover {
    background: rgb(87, 87, 255);
}

nav .nav-items .nav-link:hover a {
    color: white;
}

nav .social {
    padding: 1.4rem 0;
}

nav .social i {
    color: #0f0f0f;
    cursor: pointer;
    padding: 0.8rem;
}

nav .social i:hover {
    background: #038eff;
}

nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 100%;
    cursor: pointer;
    /*background: white;*/
    display: none;
}

nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.4rem 4rem;
}

.collapse {
    height: 30rem;
}

.icon,
.icon::before,
.icon::after {
    position: relative;
    width: 10px;
    border: 2px solid var(--text-gray);
    border-radius: 3rem;
    display: inline-block;
    transition: all .8s ease;
    transition-property: width, left;
}

.icon::before {
    content: "";
    position: absolute;
    top: 5px;
    width: 20px;
    left: -12px;
}

.icon::after {
    content: "";
    position: absolute;
    top: 12px;
    left: -2px;
}

.text-click,
.toggle-click::before,
.toggle-click::after {
    width: 20px;
}

.toggle-click::before {
    left: -2px;
}

nav .toggle-collapse .toggle-icons i {
    font-size: 1, 4rem;
}

@media only screen and (max-width:800px) {
    nav .nav-items {
        flex-direction: column;
    }

    nav {
        flex-direction: column !important;
        display: block !important;
    }

    nav .toggle-collapse {
        display: initial;
    }
}