@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    margin: 0;
    background:  linear-gradient(0deg, rgb(95, 97, 93) 14%, rgba(19, 24, 20, 0.995) 90%);
    font-family: sans-serif;
    color: aqua;
}

* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 800px;
    margin: 40px auto;
}

header {
    background: url(/img/TERÍTÉK.jpg);
    height: 360px;
    color: rgb(200, 233, 53);
    font-family: "lobster";
    font-size: 80px;
    font-weight: 1500;
    padding: 80px 60px;
    text-shadow: 0 0 20px rgb(0,0,0,.9);
}

nav {
    background: rgb(95, 97, 93);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

nav::after {
    content: "";
    clear: both;
    display: table;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    display: block;
}

nav a:hover {
    background: rgba(0,0,0,.8);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
}

main {
    background: gray;
    padding: 40px;
    color: black;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
}

.recipe-box {
    display: flex;
    flex-wrap: wrap;
  

}

fieldset {
    background: lightgray;
}

p {
    padding: 10px;
}

h2 {
    padding: 10px;
}

img {
    padding: 10px;
  
}



