@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'oswald';
}

body {
    position: relative;
    background: linear-gradient(rgb(19, 18, 18), rgb(49, 49, 49));
    background-image: url(https://www.xfish.hu/tportal_upload/image_blog_209_17.jpg);
    
    background-size: cover;
    background-position: center;
}

/*HEADER*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    
}

li {
    list-style: none;
}

a {
    color: rgb(252, 249, 249);
    text-decoration: none;
}

a:hover {
    color: rgb(207, 209, 68);
}

.container {
    width: 1600px;
    margin: auto;
}

.subcontainer {
    width: 85%;
    margin: auto;
}

.navbar {
    background: none;
    opacity: 85%;
    margin: 0 auto;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    background-color: white;
}

.navbar img:hover {
    background: rgb(253, 253, 253);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: rgb(245, 242, 242);
}

#home {
    margin-top: 70px;
    
}

#image {margin: 20px;}

/*RESPONSIVE DESIGN*/
@media (max-width: 1600px) {
    .container {
        width: 100%;
    }

}

@media (max-width: 1024px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(79, 156, 109);
        width: 87.5%;
        text-align: center;
        transition: 0.3rem;
        
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

}

#color {
    font-family: "oswald";
    font-weight: bold;
    color: rgb(248, 234, 107);
}


svg {
    color: #5a0101;
}

#marquee {
    margin: 30px;
}

#marquee h1 {
    color: rgb(32, 32, 32);
}

.navline {
    background: none;
}

.row {
    padding: 60px;
    display: flex;
    height: 88%;
    margin-right: 50px;
}

p {
    background: none;
    text-align: center;
    color: rgb(250, 244, 244);
}

#font {
    font-size: 140%;
    color: rgb(252, 250, 250);
    text-align: left;
}

.row h4 {

    color: rgb(14, 13, 13);
}

.col {
    flex-basis: 50%;
}

#home {
    text-align: center;
}

h1 {
    font-weight: 160%;
    font-weight: bold;
    font-family: 'oswald';
    color: rgb(252, 249, 249);
}

#pos h4 {
    font-family: 'oswald';
    color: #faf9f9c2;
}

h5 {
    color: white;
    text-shadow: 0 0 5px #999;
}

button {
    font-family: 'oswald';
    font-weight: bold;
    width: 180px;
    color: #fcf9f9;
    font-size: 17px;
    padding: 12px 0;
    background: linear-gradient(to right, rgb(70, 48, 2), rgb(243, 191, 94));
    border: 0;
    border-radius: 0 60px;
    outline: none;
    margin-top: 10px;
    box-shadow: 3px 3px 0px rgb(73, 73, 73);
    border: 1px solid rgb(253, 253, 253);
    cursor: pointer;
}

button:hover {
    background: linear-gradient(rgb(70, 48, 2), rgb(243, 191, 94));
}

#alternative-button {
    font-family: "oswald";
    width: 180px;
    font-size: 17px;
    font-weight: 200;
    background: none;
    border-radius: 0 60px;
    box-shadow: 3px 3px 0px rgb(73, 73, 73);
    border: 1px solid rgb(129, 129, 129);
    color: rgb(248, 246, 246);
}

#alternative-button:hover {
    background: linear-gradient( rgb(70, 48, 2), rgb(243, 191, 94));
}