@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    margin: 0;
    background: linear-gradient(0deg, rgba(94,205,30,1) 14%, rgba(4,74,22,0.9948354341736695) 90%);
    font-family: sans-serif;
    color: aqua;
}

* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 800px;
    margin: 40px auto;
}

header {
    background: url(/css/img/TERÍTÉK.jpg);
    height: 360px;
    color: rgb(200, 233, 53);
    font-family: "lobster";
    font-size: 80px;
    font-weight: 1500;
    padding: 80px 60px;
    text-shadow: 0 0 20px rgb(0,0,0,.9);
}

nav {
    background: rgba(190,0,0,.8);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

nav::after {
    content: "";
    clear: both;
    display: table;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    display: block;
}

nav a:hover {
    background: rgba(0,0,0,.8);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
}

main {
    background: gray;
    padding: 40px;
    color: black;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
}

.recipe-box {
    flex: 1;
    min-width: 250px;
    background: #D6DFE4;
    border: 1px solid #ddd;
    padding: 0 0 10px 0;
    margin: 0 10px 20px 10px;
}

p {
    padding: 10px;
}

h2 {
    padding: 10px;
}

img {
    padding: 10px;
  
}



