@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background:  linear-gradient( rgb(105, 105, 105), rgb(137, 138, 138));
}

* {
    margin: 0;
    padding: 0;
}

#pos {
    margin: 0 -73px;
    padding: 95px;
}

#pos h4 {
color: #c5c2c2;
}

table video {
    padding: 57px;
    float: left;
}

h2 {
    padding: 100px;
    float: right;
}

.banner {
    width: 100%;
    height: 95dvh;
    background-image: linear-gradient(rgb(0,0,0,0.37), rgba(0,0,0,0.37)), url(/images/img/Horgász.jpg);
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}

#logo {
    width: 300px;
    padding: 20px;
}

.content {
    width: 100%;
    position: absolute;
    top: 30%;
    transition: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(224, 220, 220);
    margin: 27px;
    font-weight: 70px;
    line-height: 25px;
}

.banner h1 {
    font-family: "oswald";
    float: left;
    color: #fff;
    margin: 25px ;
    font-size: 30px;
    margin-top: -80px;
}

.content button {
    font-weight: bold;
    cursor: pointer;
    margin: 25px;
    width: 120px;
    float: left;
    color: rgb(250, 250, 253);
    padding: 5px 10px;
    border: rgb(128, 126, 126) 1px solid;
    background: linear-gradient(to right, rgb(97, 86, 24), rgb(224, 190, 38)); 
    border-radius: 2px;
    box-shadow: 3px 3px 0px rgb(70, 69, 69);
}

.content button:hover {
    background: linear-gradient( rgb(35, 63, 33), rgb(99, 167, 61)); 
}

.wrapper {
    max-width: 875px;
    margin: 5px auto;
}

table {
    max-width: 875px;
    background-color: rgb(194, 193, 193);
}

fieldset { 
    background: linear-gradient(to right, rgb(27, 27, 27), rgb(158, 158, 158));
    height: 300px;
}

button {
    font-weight: bold;
    cursor: pointer;
    margin: 30px;
    width: 120px;
    float: left;
    color: rgb(246, 246, 250);
    padding: 5px 10px;
    border: rgb(116, 114, 114) 1px solid;
    background: linear-gradient(to right, rgb(24, 24, 24), rgb(146, 146, 146)); 
    border-radius: 2px;
    box-shadow: 3px 3px 0px rgb(70, 69, 69);
}

button:hover {
    color: lavender;
    background: linear-gradient(rgb(49, 49, 49), rgb(150, 149, 149));
}

.wrapper table {
    width: 890px;
}

h1 {
    font-family: "oswald";
    color: rgb(42, 42, 51);
}

h2 {
    font-family: "oswald";
}

h4 {
    font-family: "oswald";
    color: rgb(39, 39, 39);
    text-align: left;
}

h5 {
    text-align: left;
    color: rgb(48, 44, 44);
}

h6 {
    margin: 90px;
}

fieldset h5 {
    padding: 0px;
    margin: 0 100px;
}

fieldset h6 {
    margin: 0 100px;
}

fieldset img {
    max-width: 300px;
    margin: 20px;
}

#table-02 {
    padding: 5px;
    max-width: 500px;
    margin: auto;
    background: none;
}

#marna {
    padding: 10px;
    margin: 0 23px;
    float: left;
}

h3 {
    font-family: "oswald";
    padding: 25px;
    color: black;
    text-align: left;
}

p {
    color: rgb(117, 115, 115);
    margin: 0 -20px;
    padding: 45px;
    text-align: left;
}

#vs- {

    margin: 20px;
    margin: 20px;
    float: right;
}

#sor {
    color: black;
    padding: 25px;
    margin: 0 25px;
    text-align: left;
}

#sor-1 {
    color: rgb(71, 71, 71);
}

#sor- {
    margin: 0px 25px;
    padding: 20px;
    text-align: left;
    color: rgb(71, 71, 71);
}

#how-color {
    font-family: "oswald";
    color: lavender;
    text-align: center;
}

#gombok {  
    padding: 0 250px;
    background: none;
}

tfoot {
    font-weight: bold;
    color: rgb(0, 0, 1);
    text-align: center;
}

.carousel {
    max-width: 1000px;
    width: 90%;
    height: 60vh; 
    margin: 0 auto 0 auto;
    box-shadow: 0 30PX 40px -20px lightgray;
    position: relative;
    overflow: hidden;
}

@media(orientation:portrait) {
    .carousel {
        height: 30vh
    }
}

.carousel div {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center center;
    background-size: cover;
    opacity: 0;
}

.carousel div:nth-child(1) {
    background-image: url(/images/img/7-es-Potyesz.jpg);
    animation-delay: 2s
}


.carousel div:nth-child(2) {
    background-image: url(/images/img/Harcsa.jpg);
    animation-delay: 8s
}

.carousel div:nth-child(3) {
    background-image: url(/images/img/AMÚR.jpg);
    animation-delay: 10s
}

.carousel div:nth-child(4) {
    background-image: url(/images/img/MÁRNA.jpg);
    animation-delay: 12s
}

.carousel div:nth-child(5) {
    background-image: url(/images/img/VEGYES-HAL.jpg);
    animation-delay: 14s
}

.carousel div:nth-child(6) {
    background-image: url(/images/img/PONTY\ 6.5-ÖS.jpg);
    animation-delay: 16s
}

.carousel div:nth-child(7) {
    background-image: url(/images/img/DÉVÉR.jpg);
    animation-delay: 18s
}

.carousel div:nth-child(8) {
    background-image: url(/images/img/KÁRÁSZOK.jpg);
    animation-delay: 20s
}

.fader div {
    animation: fade 16s infinite
}

@keyframes fade {
    5% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    35% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }
}

.slider div {
    left: -100;
    animation: slide 12s infinite
}

@keyframes slide {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 1;
        left: -100%
    }

    6% {
        left: 0;
    }

    34.5% {
        left: 0;
    }

    39.5% {
        opacity: 1;
        left: 100%;
    }

    40% {
        opacity: 0;
    }
}

.carousel.slider {
    animation: carousel-fade-in 2s forwards;
}

@keyframes carousel-fade-in {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.class #keret {
    height: 317px;
    width: 875px;
}

#keret-1 {
    border: none;
    background: none;
    width: 872px;
    height: 320px;
}

#keret-2 {
    background: rgb(194, 193, 193);
    height: 300px;
    width: 200px;
    margin: 7px;
    float: left;
    border-radius: 7px;
}

#keret-2 img {
    border-radius: 7px 7px 0px 0px;
    margin: 0px;
    padding: 0px;
}

#keret-2 h4 {margin: 25px;
    color: #3a3939;
    text-align: center;
}

#border .img {
    margin: 0 auto;
    padding: 0px;
}

#border {
    border: none;
    height: 300px;
    background: none;
    width: 200px;
    margin: 5px;
    float: left;
}

#border h4 {
    color: lavender;
    margin: 21px;
}

#border h6 {
    color: whitesmoke;
    margin: 21px;
}

/*#border a {
    margin: 20px;
}*/

#border ul li {
    margin: 14px;
}

#keret {
    width: 900px;
    height: 320px;
}

.wrapper #keret {
    height: 420px;
}










